.App-header {
  background-color: #000000;
  min-height: 100vh;
  padding: 3%;
  font-family: "Cairo", sans-serif;
  color: rgb(255, 255, 255);
}

.header {
  font-size: 72px;
  text-align: center;
}

#search-box {
  max-width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

#customRange2 {
  max-width: 3rem;
}

#type-sel {
  padding-top: 3%;
  font-size: 18px;
}

.masonry {
  columns: 4;
  column-gap: 16px;
}

.masonry .grid {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}
.masonry .grid:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.111);
}
.masonry .grid img {
  width: 394px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .masonry {
    columns: 3;
  }
  .masonry .grid img {
    width: 100%;
    border-radius: 5px;
  }
}
@media (max-width: 992px) {
  .masonry {
    columns: 2;
  }
  .masonry .grid img {
    width: 100%;
    border-radius: 5px;
  }
}

.masonry .grid-title {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.masonry .grid-author {
  font-size: 14px;
  font-weight: 300;
}
.masonry .grid-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.masonry .grid-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px 30px;
  color: #fff;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}
.grid:hover .grid-body {
  visibility: visible;
  opacity: 1;
}
